<p>user-form works!</p>
<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
       
            <label for="name">First Name</label>
          <input type="text" [(ngModel)]="user.firstName" 
            class="form-control" 
            id="firstname" 
            name="firstname" 
            placeholder="Enter your first name"
            required #firstName="ngModel">
        </div>
        <div [hidden]="!firstName.pristine" class="alert alert-danger">First Name is required</div>

        <div class="form-group">
       
          <label for="lastname">Last Name</label>
        <input type="text" [(ngModel)]="user.lastName" 
          class="form-control" 
          id="lastname" 
          name="lastname" 
          placeholder="Enter your last name"
          required #lastName="ngModel">
      </div>
      <div [hidden]="!lastName.pristine" class="alert alert-danger">Last Name is required</div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" [(ngModel)]="user.email" 
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="Enter your email address"
            required #email="ngModel">
          <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div>
        </div>

        <div class="form-group">
          <label for="departmentId">DepartmentId</label>
          <input type="text" [(ngModel)]="user.departmentId" 
            class="form-control" 
            id="departmentId" 
            name="departmentId" 
            placeholder="Enter your DepartmentId"
            required #departmentId="ngModel">
          <div [hidden]="!departmentId.pristine" class="alert alert-danger">DepartmentId is required</div>
        </div>
        <button type="submit" [disabled]="!userForm.form.valid" 
          class="btn btn-info">Submit</button>|
        
      </form>
    </div>
  </div>